
body{

      background:url(../img/img3.jpg) top center no-repeat #2d213c;
      background-repeat: no-repeat;
      background-attachment: scroll;
      color: white;
      background-position:center 0; 
}

/*div{

	background:url(../img/img_back.jpg);
	width: 300px;
	color: white;
	background-repeat: no-repeat;

}*/



.containerMain{
      

      margin-left: 120px;
      

}

.text{

      font-size: 40px;
      color:black;
}

h1 {
      text-align: center;
      color: #fff;
      font-size: 40px;
      background: rgba(0,0,0,0.4);
      margin-top: 20px;
}