
body{

      background:url(../img/img_back.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
}

.containerMain{

      background-image: url("img/img_back.jpg");
      margin-top: 0px;
      margin-left: 120px;
      margin-bottom: 300px;

}

.text{

      font-size: 40px;
}