
body{

      background:url(../img/img_back.jpg);
      background-repeat: no-repeat;
      background-attachment: scroll;
      color: white;
      background-position:center 0; 
}

/*div{

	background:url(../img/img_back.jpg);
	width: 300px;
	color: white;
	background-repeat: no-repeat;

}*/



.containerMain{
      margin-top: 200px;
      margin-left: 120px;
      margin-bottom: 300px;

}

.text{

      font-size: 40px;
      color:black;
}